<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dzcom.infrastructure.persistence.mapper.account.RoleMapper">
    <select id="selectByCode" resultType="com.example.dzcom.infrastructure.persistence.entity.account.RoleEntity">
        select * from aiw_role
        where role_code = #{roleCode} and is_deleted = 0
    </select>
    <select id="selectAll" resultType="com.example.dzcom.infrastructure.persistence.entity.account.RoleEntity">
        select * from aiw_role
        where is_deleted = 0
        order by role_type desc, role_code asc
    </select>
    <insert id="save">
        insert into aiw_role
        (biz_id, role_code, role_name, description, role_type, status, version,
         created_at, updated_at, created_by, updated_by, is_deleted, deleted_at)
        values
        (#{bizId}, #{roleCode}, #{roleName}, #{description}, #{roleType}, #{status}, #{version},
         #{createdAt}, #{updatedAt}, #{createdBy}, #{updatedBy}, #{deleted}, #{deletedAt})
        on duplicate key update
        role_name = values(role_name), description = values(description),
        status = values(status), version = values(version), updated_at = values(updated_at),
        updated_by = values(updated_by), is_deleted = values(is_deleted),
        deleted_at = values(deleted_at)
    </insert>
</mapper>
